.custom-button {
  background-color: black !important;
  font-family: revert-layer;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: background-color 0.1s;
  box-shadow: none;
}

.custom-button:hover {
  background-color: transparent !important;
  color: black !important;
  border-color: black !important;
}
