.section {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 350px 0;
  @media (max-width: 800px) {
      height: fit-content;
  }
}
.title {
  flex: 1;
  font-size: 80px;
  text-align: left;
  font-weight: 800;
  max-width: 600px;
  font-family: 'Playfair Display', serif;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 100px;
  line-height: 1;
  
  @media (max-width: 800px) {
      font-size: 40px;
      margin-inline: 10px;
      text-align: center;
  }
}
.paragraph {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  padding-right: 100px;
}
.button {
  width: 140px;
  margin-top: 20px;
  padding: 15px 20px;
  background: white;
  border: 1px solid white;
  font-size: 13px;
  color: black;
  border: 2px solid black;
}