/* SHero1 */

.section {
    background-color: var(--light-gray);
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 350px 0;
    @media (max-width: 800px) {
        height: fit-content;
    }
}

.right0 {
    position: absolute;
    right: 15%;
    top: calc(-350px/2);
    width: 50%;
    height: 400px;

    @media (max-width: 800px) {
        top: -350px;
        height: 50vh;
        width: 100%;
        right: 0;
    }
}

.left0 {
    position: absolute;
    left: 15%;
    width: 50%;
    height: fit-content;
    min-height: 200px;
    /* max-height: 300px; */
    background: var(--white);
    top: calc(-350px/3.5);
    padding: 30px 20px;
    
    @media (max-width: 800px) {
        width: calc(100% - 20px);
        left: 0;
        margin-inline: 10px;
        max-height: initial;
    }
}

.right1 {
    position: absolute;
    right: 20%;
    top: calc(-350px/1.6);
    width: 50%;
    height: 400px;

    @media (max-width: 800px) {
        top: -350px;
        height: 50vh;
        width: 100%;
        right: 0;
    }
}

.left1 {
    position: absolute;
    left: 10%;
    width: 50%;
    height: fit-content;
    min-height: 200px;
    /* max-height: 300px; */
    background: var(--white);
    padding: 30px 20px;
    
    @media (max-width: 800px) {
        width: calc(100% - 20px);
        left: 0;
        margin-inline: 10px;
        max-height: initial;
    }
}

.right2 {
    position: absolute;
    right: 50%;
    top: calc(-350px/1.6);
    width: 50%;
    height: 400px;

    @media (max-width: 800px) {
        top: -350px;
        height: 50vh;
        width: 100%;
        right: 0;
    }
}

.left2 {
    position: absolute;
    left: 50%;
    width: 50%;
    height: fit-content;
    min-height: 200px;
    /* max-height: 300px; */
    background: var(--white);
    padding: 30px 20px;
    
    @media (max-width: 800px) {
        width: calc(100% - 20px);
        left: 0;
        margin-inline: 10px;
        max-height: initial;
    }
}