.section {
  background-color: var(--light-gray);
  font-family: 'Poppins', sans-serif;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 350px 0;
  @media (max-width: 800px) {
      height: fit-content;
      padding: 0 0;
  }
}

.image {
    position: absolute;
    left: 10%;
    top: calc(-350px/1.7);
    height: 500px;

    object-fit: cover;

    @media (max-width: 800px) {
      height: 100vh;
      width: 100%;
      max-width: 100%;
      left: 0%;
      top: 0%; /* Adjusted to align the image at the top */
  }
}

.content {
  position: absolute;
  right: 0%;
  width: 50%;
  background: var(--white);
  padding: 30px 20px;
  top: calc(-350px/2);

  @media (max-width: 800px) {
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 350px;
  }
}

.title {
  font-size: 50px;
  text-align: center;
  font-weight: 350;
  max-width: 600px;
  font-family: Oswald, serif;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1;
}

.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.button {
  width: 140px;
  margin-top: 20px;
  padding: 15px 20px;
  background: var(--white);
  color: var(--black);
  font-size: 13px;
}
.button:hover {
  background-color: #45a049;
}