.StartScreen {
  display: flex;
  flex-direction: column; /* Stack the items vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px; /* Add a little spacing between the title and subtitle */
}

.subtitle {
  font-size: 2rem;
  color: #555;
}

.emailContainer {
  margin-top: 20px; /* Add some spacing between the subtitle and input */
  display: flex;
  align-items: center;
}

.emailInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-right: 10px;
}

.submitButton {
  background-color: #1D9BF0;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

