@tailwind base;
@tailwind components;
@tailwind utilities;  

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --legis-color-1: #efefee;
  --legis-color-2: #a3826c;
  --legis-color-3: #3e3d3d;

  --legis-font-main: 'IBM Plex Sans';

  --legis-editable-outline: 3px dotted #4391ff;

  /* skeletons variables */
  --white: #fff;
  --black: #000;
  --light-gray: #eee;
  --dark-gray: #666;
}

/* *, html {
  scroll-behavior: smooth;
} */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-button {
  background-color: black !important;
  font-family: revert-layer;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: background-color 0.1s;
  box-shadow: none;
}

.custom-button:hover {
  background-color: transparent !important;
  color: black !important;
  border-color: black !important;
}

div {
  transition: background 0.4s;
}

.custom-font {
  font-family: 'Oswald';
  font-family: 'Bodoni Moda', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Nanum Gothic', sans-serif;
}

.editable {
  transition: outline 0.05s;
}

.editable:hover {
  outline: var(--legis-editable-outline);
}

.animate__slideIn {
  animation: animationSlideIn 0.2s forwards;
  /* background: red; */
  transform-origin: top;
}

@keyframes animationSlideIn {
  from {
    opacity: 0.5;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

html {
  scroll-behavior: smooth;
}
/* DEPLOYED TO SITE */

.bg-photo {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.color-1 {
  background-color: var(--legis-color-1) !important;
}

.color-2 {
  background-color: var(--legis-color-2) !important;
}

.color-3 {
  background-color: var(--legis-color-3) !important;
}